HELP.md
.gradle/
build/
!be/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
be/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application.yml 추가
application.yml

### dataSources.xml 추가
.idea/dataSources.xml
.idea/

### cicd env 추가 - application-secret.yml 노출되면 안됨!! 요금 폭탄 !! ###
src/main/resources/application-secret.yml